body{background:linear-gradient(#112233,black,#112233);}
.ma{height:3855px;}
.fix{overflow:hidden;}
.m{background:linear-gradient(black,#112233,black)}
.slider{margin-top:50px;width:1150px;height:600px;}
.s{width:1140px;height:500px;}
.r{margin-top:-100px;background:black;width:100%;height:1050px;}
.r h1{height:70px;border:6px solid white;text-align:center;width:250px;margin-left:420px;padding:10px;box-shadow:0px 1px 20px white;background:#112233}
#img{overflow:hidden;width:1150px;height:315px;background:black;}
.i{margin-left:4px;width:360px;height:300px;margin-top:5px;}
.i:hover{transform:rotate(360deg) scale(0.7);transition:0.5s ease-in-out}
.about{height:500px;background:white;}
.about p{color:black;font-weight:bold;margin:20px 70px;}
h2{text-align:center;font-size:40px;letter-spacing:1px;transition:0.5s ease-in}
h2:hover{letter-spacing:6px;transition:0.5s ease-in;}
h6{margin-top:20px;margin-left:80px;font-weight:bold;font-size:15px;}
.t{background:black;overflow:hidden;height:450px;}
.t h1{text-align:center;border:4px solid black;width:540px;margin-left:280px;background:;box-shadow:1px 1px 40px;transition:0.5s ease-in;}
.t h1:hover{background:black;color:white;transition:0.5s ease-in;}
.ta{width:800px;height:300px;background:white;margin-left:170px;height:300px;overflow:hidden;margin-top:50px;box-shadow:0px 0px 10px white}
.ta td{font-weight:bold;text-align:center}
.ta th{text-align:center;}
.ohters{background:white;height:450px;}
.ohters button{margin-left:110px;margin-top:50px;width:120px;background:white;padding:5px;border:5px solid black;transition:0.5s ease-in-out}
.ohters button:hover{background:black;color:white;transition:0.5s ease-in-out;box-shadow:1px 1px 20px black}
.ohters h3{text-align:center;font-size:25px;margin-bottom:-170px;color:black;}
.notice{float:left;background:white;width:350px;height:300px;margin-left:20px;margin-top:88px;border:3px solid black;box-shadow:1px 1px 20px black}
.nt ul{list-style:none;}
.nt li{border:5px solid black;width:140px;line-height:3.5;margin-left:60px}
.nt li a{margin-left:15px}
.social{float:left;background:white;width:350px;height:300px;margin-left:22px;margin-top:88px;border:3px solid black;box-shadow:1px 1px 20px black}
 .so ul {list-style:none;}
 .so li a{padding:15px;line-height:3.1;margin-left:95px;border:2px solid black;border-radius:50px;}
.provitan{float:left;background:white;width:350px;height:300px;margin-left:22px;margin-top:88px;border:3px solid black;box-shadow:1px 1px 20px black}
.pr ul{list-style:none;}
.pr li a{padding:15px;line-height:4.1;margin-left:60px;border:5px solid black;border-radius:5px}
.sign{background:black;height:500px;}
.sign h1{background:white;border:5px solid black;width:400px;;margin-left:390px;text-align:center;box-shadow:1px 1px 40px;transition:0.5s ease-in;}
.sign h1:hover{background:black;color:white;transition:0.5s ease-in;}
.si{margin-left:400px;border:10px solid black;margin-top:10px;box-shadow:1px 10px 30px;background:white;}
.log_in button{margin-left:490px;margin-top:50px;}
.log_in{background:white;height:300px;}
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom:35px;
    right: 5px;
    display: none;
    text-indent: -9999px;
    background: url('icon_top.png') no-repeat;
    background-color: #000;
}
.footer{height:55px;background:white;border:5px solid black;position:absolute;width:92%;left:50px;background:linear-gradient(black,#112233,black)}
.footer p{padding:15px;text-align:center;color:gray}
